<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico" th:href="@{/favicon.ico}">

    <title>测试 #{} 表达式（国际化）</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" th:href="@{/dist/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/signin.css" th:href="@{/signin.css}" rel="stylesheet">
</head>

<body class="text-center">
    <form class="form-signin">
        <img class="mb-4" src="/assets/brand/bootstrap-solid.svg"
             th:src="@{/assets/brand/bootstrap-solid.svg}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal" th:text="#{login.tip}">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" th:placeholder="#{login.email}"
               placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" th:placeholder="#{login.password}"
               placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> [[#{login.remember}]]
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit"
                th:text="#{login.btn}">Sign in
        </button>
        <!-- 国际化链接上加上国际化标识参数 -->
        <a class="btn btn-sm" th:href="@{/test2(l='zh_CN')}">中文</a>
        <a class="btn btn-sm" th:href="@{/test2(l='en_US')}">English</a>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
</body>
</html>
